@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Montserrat+Alternates&family=Montserrat:ital,wght@1,200&family=Mooli&family=Poppins:wght@400;500;600;700&family=Rubik+Doodle+Shadow&family=Tektur&family=Urbanist:wght@600&family=Ysabeau+Infant&display=swap');@layer base {
  html {
    @apply scroll-smooth;
  }
}


/* styles.css */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}




#naman{
  font-family: Ysabeau Infant 
}


.progress-bar {
  left: 0;
  right: 0;
  transform-origin: 0%;
}


.max-w-md {
  width: 100%;
  max-width: 60rem;
}

.h-screen1 {
  height: 35rem;
}

.w-screen {
  width: 75rem;

  @media screen and (max-width:1200px) {
    width: 60rem;
  }

  @media screen and (max-width:1000px) {
    width: 40rem;
  }

  @media screen and (max-width:660px) {
    width: 30rem;
  }

  @media screen and (max-width:490px) {
    width: 20rem;
  }
}

.custom {

  @media screen and (min-width:900px){
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
  }

  /* Styles for medium screens */
  @media screen and (max-width: 900px) and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }

  /* Styles for smaller screens */
  @media screen and (max-width: 767px) and (min-width: 500px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 4rem;
  }
  @media screen and (max-width: 500px) and (min-width) {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    padding: 4rem;
  }

  .box {
    width: 100%;
    height: auto;
  }
}

.bg-blue-custom{
  /* background: #15133C; */
  background: #0e0d27;
}

/*gradient background*/
.gradient-border {
  --border-width: 2px;
  
  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      #fff4d6, 
      #908a76   
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}



.gradient-borde:hover {
  --border-width: 20px;
  
  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      /* #80CBC4  */
      #fff4d6,
      black 
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.custom-shape-divider-top-1705513934 {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  
}

.custom-shape-divider-top-1705513934 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.5px);
  height: 150px;
}

.custom-shape-divider-top-1705513934 .shape-fill {
  fill: transparent;
}


/* CustomCursor.css */
/* CustomCursor.css */
.custom-cursor {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 14px solid #fff4d6;
  transform: rotate(45deg);
  position: fixed;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: transform 0.1s ease-in-out, background-color 0.2s ease-in-out;
  animation: rotate 2s linear infinite;
}

.custom-cursor:hover {
  background-color: black;
  transform: scale(1.5) rotate(45deg);
  animation: none; /* Disable rotation animation on hover */
}

@keyframes rotate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
